In [18]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_excel('pj_data/당기순이익, 유동자산, 유동부채, 부채비율, 종업원수증가율.xls', skiprows = [0,1,2,3,4])

In [ ]:
data.head(10)

In [20]:
data['Unnamed: 2'].drop(0).values

array(['(주)메타바이오메드', '(주)코라', '(주)이건홀딩스', ..., '(주)에스엘씨', '농업회사법인한국양계(주)',
       '(주)우림공업사'], dtype=object)

In [21]:
data.set_index('Unnamed: 2', inplace=True)

In [22]:
data

,Unnamed: 0,Unnamed: 1,2014/Annual,2014/Annual.1,2014/Annual.2,2014/Annual.3,2014/Annual.4,2015/Annual,2015/Annual.1,2015/Annual.2,...,2018/Annual,2018/Annual.1,2018/Annual.2,2018/Annual.3,2018/Annual.4,2019/Annual,2019/Annual.1,2019/Annual.2,2019/Annual.3,2019/Annual.4
Unnamed: 2,,,,,,,,,,,,,,,,,,,,,
Name,KIS,Stock,당기순이익(손실)/029000,유동부채(계)/016000,유동자산(계)/012000,종업원수증가율/091090,부채비율/093060,당기순이익(손실)/029000,유동부채(계)/016000,유동자산(계)/012000,...,당기순이익(손실)/029000,유동부채(계)/016000,유동자산(계)/012000,종업원수증가율/091090,부채비율/093060,당기순이익(손실)/029000,유동부채(계)/016000,유동자산(계)/012000,종업원수증가율/091090,부채비율/093060
(주)메타바이오메드,000292,059210,-4952025000,34128054000,25351126000,12.42,81.63,805653000,25987067000,28839931000,...,757691000,36983102000,36181141000,9.91,76.08,4904591000,36900360000,39345444000,3.86,76.51
(주)코라,000366,NaN,-272918000,1531060000,1490635000,NaN,133.45,-831089000,1533980000,1614658000,...,-730378000,1433913000,1346877000,7.89,208.23,-498229000,1317198000,1200017000,-31.71,227.14
(주)이건홀딩스,000442,039020,-8655142000,113958184000,66271396000,4.45,181.04,-7428099000,94880930000,51142506000,...,16069087000,12798148000,2438567000,30.95,20.8,6246999000,12023809000,2818680000,-12.73,18.22
동성인쇄(주),000469,NaN,32487000,2799396000,3867499000,NaN,239.89,32678000,2825595000,3165212000,...,-599846000,10596779000,5177562000,NaN,42.17,1440940000,8067981000,4851835000,NaN,37.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
(주)에이플러스,V17430,NaN,396090000,421233000,951640000,NaN,138.65,18277000,11573246000,1193930000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(주)인터코스,X02373,240340,165168000,883377000,1325328000,NaN,465.13,1136089000,1334918000,6551694000,...,-987314000,8876744000,7555004000,-4.04,233.95,-3395334000,12085899000,5323790000,-40,590.43
(주)에스엘씨,X57312,NaN,285163000,110058000,775642000,NaN,283.36,171875000,302530000,591364000,...,4137914000,3313253000,4229399000,NaN,27.18,-2354702000,8258910000,5954184000,-15.79,153.83
농업회사법인한국양계(주),X91216,NaN,2373354000,8473852000,5836376000,NaN,257.26,4289815000,4451671000,3311038000,...,570907000,10175835000,8747038000,7.89,100.14,713515000,7547067000,8183297000,-7.32,89.02
(주)우림공업사,Z23508,NaN,44925000,24547000,266609000,NaN,10.9,45854000,13443000,209070000,...,151416000,1407070000,689570000,NaN,1558.64,-1123007000,7648134000,444878000,NaN,3163.6

In [23]:
당기순이익 = data[['2014/Annual','2015/Annual','2016/Annual','2017/Annual','2018/Annual','2019/Annual']]

In [24]:
당기순이익

,2014/Annual,2015/Annual,2016/Annual,2017/Annual,2018/Annual,2019/Annual
Unnamed: 2,,,,,,
Name,당기순이익(손실)/029000,당기순이익(손실)/029000,당기순이익(손실)/029000,당기순이익(손실)/029000,당기순이익(손실)/029000,당기순이익(손실)/029000
(주)메타바이오메드,-4952025000,805653000,638900000,-3896803000,757691000,4904591000
(주)코라,-272918000,-831089000,-671133000,-501513000,-730378000,-498229000
(주)이건홀딩스,-8655142000,-7428099000,4618003000,2148883000,16069087000,6246999000
동성인쇄(주),32487000,32678000,7502000,-463725000,-599846000,1440940000
...,...,...,...,...,...,...
(주)에이플러스,396090000,18277000,230344000,-1403828000,NaN,NaN
(주)인터코스,165168000,1136089000,437538000,-1509343000,-987314000,-3395334000
(주)에스엘씨,285163000,171875000,2657973000,6717142000,4137914000,-2354702000
농업회사법인한국양계(주),2373354000,4289815000,844308000,9170190000,570907000,713515000
(주)우림공업사,44925000,45854000,65003000,-143136000,151416000,-1123007000

In [25]:
당기순이익.columns=['2014','2015','2016','2017','2018','2019']

In [27]:
당기순이익 = pd.DataFrame(당기순이익.drop('Name').stack(dropna = False))
당기순이익.columns=['당기순이익']
당기순이익.reset_index(inplace=True)

In [69]:
당기순이익.columns = ['기업명', '년도','당기순이익']
당기순이익

               기업명    년도        당기순이익
0       (주)메타바이오메드  2014  -4952025000
1       (주)메타바이오메드  2015    805653000
2       (주)메타바이오메드  2016    638900000
3       (주)메타바이오메드  2017  -3896803000
4       (주)메타바이오메드  2018    757691000
...            ...   ...          ...
193933    (주)우림공업사  2015     45854000
193934    (주)우림공업사  2016     65003000
193935    (주)우림공업사  2017   -143136000
193936    (주)우림공업사  2018    151416000
193937    (주)우림공업사  2019  -1123007000

[193938 rows x 3 columns]

In [29]:
유동부채 = data[['2014/Annual.1','2015/Annual.1','2016/Annual.1','2017/Annual.1','2018/Annual.1','2019/Annual.1']]
유동부채

,2014/Annual.1,2015/Annual.1,2016/Annual.1,2017/Annual.1,2018/Annual.1,2019/Annual.1
Unnamed: 2,,,,,,
Name,유동부채(계)/016000,유동부채(계)/016000,유동부채(계)/016000,유동부채(계)/016000,유동부채(계)/016000,유동부채(계)/016000
(주)메타바이오메드,34128054000,25987067000,28554723000,28853979000,36983102000,36900360000
(주)코라,1531060000,1533980000,1545655000,1372462000,1433913000,1317198000
(주)이건홀딩스,113958184000,94880930000,104937962000,10824483000,12798148000,12023809000
동성인쇄(주),2799396000,2825595000,5232065000,8585586000,10596779000,8067981000
...,...,...,...,...,...,...
(주)에이플러스,421233000,11573246000,8844123000,8729223000,NaN,NaN
(주)인터코스,883377000,1334918000,5495913000,7737032000,8876744000,12085899000
(주)에스엘씨,110058000,302530000,834757000,3209430000,3313253000,8258910000
농업회사법인한국양계(주),8473852000,4451671000,9987044000,9745285000,10175835000,7547067000
(주)우림공업사,24547000,13443000,17968000,2657430000,1407070000,7648134000

In [30]:
유동부채.columns=['2014','2015','2016','2017','2018','2019']

In [31]:
유동부채 = pd.DataFrame(유동부채.drop('Name').stack(dropna = False))
유동부채.columns=['유동부채']
유동부채.reset_index(inplace=True)

In [32]:
유동부채

        Unnamed: 2 level_1         유동부채
0       (주)메타바이오메드    2014  34128054000
1       (주)메타바이오메드    2015  25987067000
2       (주)메타바이오메드    2016  28554723000
3       (주)메타바이오메드    2017  28853979000
4       (주)메타바이오메드    2018  36983102000
...            ...     ...          ...
193933    (주)우림공업사    2015     13443000
193934    (주)우림공업사    2016     17968000
193935    (주)우림공업사    2017   2657430000
193936    (주)우림공업사    2018   1407070000
193937    (주)우림공업사    2019   7648134000

[193938 rows x 3 columns]

In [33]:
유동자산 = data[['2014/Annual.2','2015/Annual.2','2016/Annual.2','2017/Annual.2','2018/Annual.2','2019/Annual.2']]
유동자산

,2014/Annual.2,2015/Annual.2,2016/Annual.2,2017/Annual.2,2018/Annual.2,2019/Annual.2
Unnamed: 2,,,,,,
Name,유동자산(계)/012000,유동자산(계)/012000,유동자산(계)/012000,유동자산(계)/012000,유동자산(계)/012000,유동자산(계)/012000
(주)메타바이오메드,25351126000,28839931000,36421419000,31720536000,36181141000,39345444000
(주)코라,1490635000,1614658000,1722223000,1702437000,1346877000,1200017000
(주)이건홀딩스,66271396000,51142506000,59613352000,2973563000,2438567000,2818680000
동성인쇄(주),3867499000,3165212000,3997036000,4209937000,5177562000,4851835000
...,...,...,...,...,...,...
(주)에이플러스,951640000,1193930000,1563425000,1336341000,NaN,NaN
(주)인터코스,1325328000,6551694000,6849441000,7223240000,7555004000,5323790000
(주)에스엘씨,775642000,591364000,3167846000,10542185000,4229399000,5954184000
농업회사법인한국양계(주),5836376000,3311038000,5312565000,11514309000,8747038000,8183297000
(주)우림공업사,266609000,209070000,81398000,58743000,689570000,444878000

In [34]:
유동자산.columns=['2014','2015','2016','2017','2018','2019']

In [35]:
유동자산 = pd.DataFrame(유동자산.drop('Name').stack(dropna = False))
유동자산.columns=['유동자산']
유동자산.reset_index(inplace=True)

In [36]:
유동자산

        Unnamed: 2 level_1         유동자산
0       (주)메타바이오메드    2014  25351126000
1       (주)메타바이오메드    2015  28839931000
2       (주)메타바이오메드    2016  36421419000
3       (주)메타바이오메드    2017  31720536000
4       (주)메타바이오메드    2018  36181141000
...            ...     ...          ...
193933    (주)우림공업사    2015    209070000
193934    (주)우림공업사    2016     81398000
193935    (주)우림공업사    2017     58743000
193936    (주)우림공업사    2018    689570000
193937    (주)우림공업사    2019    444878000

[193938 rows x 3 columns]

In [37]:
부채비율 = data[['2014/Annual.4','2015/Annual.4','2016/Annual.4','2017/Annual.4','2018/Annual.4','2019/Annual.4']]
부채비율

,2014/Annual.4,2015/Annual.4,2016/Annual.4,2017/Annual.4,2018/Annual.4,2019/Annual.4
Unnamed: 2,,,,,,
Name,부채비율/093060,부채비율/093060,부채비율/093060,부채비율/093060,부채비율/093060,부채비율/093060
(주)메타바이오메드,81.63,54.33,63.82,82.37,76.08,76.51
(주)코라,133.45,151.23,168.9,182.1,208.23,227.14
(주)이건홀딩스,181.04,135.89,139.68,23.1,20.8,18.22
동성인쇄(주),239.89,207.6,305.72,NaN,42.17,37.8
...,...,...,...,...,...,...
(주)에이플러스,138.65,1335.47,1542.73,NaN,NaN,NaN
(주)인터코스,465.13,105.13,135.36,188.77,233.95,590.43
(주)에스엘씨,283.36,717.76,91.49,50.03,27.18,153.83
농업회사법인한국양계(주),257.26,98.74,214.57,93.38,100.14,89.02
(주)우림공업사,10.9,8.47,20.63,1643.49,1558.64,3163.6

In [38]:
부채비율.columns=['2014','2015','2016','2017','2018','2019']

In [39]:
부채비율 = pd.DataFrame(부채비율.drop('Name').stack(dropna = False))
부채비율.columns=['부채비율']
부채비율.reset_index(inplace=True)

In [40]:
부채비율

        Unnamed: 2 level_1     부채비율
0       (주)메타바이오메드    2014    81.63
1       (주)메타바이오메드    2015    54.33
2       (주)메타바이오메드    2016    63.82
3       (주)메타바이오메드    2017    82.37
4       (주)메타바이오메드    2018    76.08
...            ...     ...      ...
193933    (주)우림공업사    2015     8.47
193934    (주)우림공업사    2016    20.63
193935    (주)우림공업사    2017  1643.49
193936    (주)우림공업사    2018  1558.64
193937    (주)우림공업사    2019   3163.6

[193938 rows x 3 columns]

In [41]:
종업원수증가율 = data[['2014/Annual.3','2015/Annual.3','2016/Annual.3','2017/Annual.3','2018/Annual.3','2019/Annual.3']]
종업원수증가율

,2014/Annual.3,2015/Annual.3,2016/Annual.3,2017/Annual.3,2018/Annual.3,2019/Annual.3
Unnamed: 2,,,,,,
Name,종업원수증가율/091090,종업원수증가율/091090,종업원수증가율/091090,종업원수증가율/091090,종업원수증가율/091090,종업원수증가율/091090
(주)메타바이오메드,12.42,9.39,-3.54,10.99,9.91,3.86
(주)코라,NaN,NaN,NaN,NaN,7.89,-31.71
(주)이건홀딩스,4.45,-1.42,0.29,-87.93,30.95,-12.73
동성인쇄(주),NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
(주)에이플러스,NaN,NaN,NaN,-36.67,NaN,NaN
(주)인터코스,NaN,NaN,47.37,76.79,-4.04,-40
(주)에스엘씨,NaN,NaN,NaN,NaN,NaN,-15.79
농업회사법인한국양계(주),NaN,NaN,NaN,NaN,7.89,-7.32
(주)우림공업사,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
종업원수증가율.columns=['2014','2015','2016','2017','2018','2019']

In [43]:
종업원수증가율 = pd.DataFrame(종업원수증가율.drop('Name').stack(dropna = False))
종업원수증가율.columns=['종업원수증가율']
종업원수증가율.reset_index(inplace=True)

In [44]:
종업원수증가율

        Unnamed: 2 level_1 종업원수증가율
0       (주)메타바이오메드    2014   12.42
1       (주)메타바이오메드    2015    9.39
2       (주)메타바이오메드    2016   -3.54
3       (주)메타바이오메드    2017   10.99
4       (주)메타바이오메드    2018    9.91
...            ...     ...     ...
193933    (주)우림공업사    2015     NaN
193934    (주)우림공업사    2016     NaN
193935    (주)우림공업사    2017     NaN
193936    (주)우림공업사    2018     NaN
193937    (주)우림공업사    2019     NaN

[193938 rows x 3 columns]

In [74]:
# 당기순이익, 유동자산, 유동부채, 부채비율, 종업원수증가율
all= pd.concat([당기순이익, 유동자산, 유동부채, 부채비율, 종업원수증가율], axis=1)
all

,기업명,년도,당기순이익,Unnamed: 2,level_1,유동자산,Unnamed: 2,level_1,유동부채,Unnamed: 2,level_1,부채비율,Unnamed: 2,level_1,종업원수증가율
0,(주)메타바이오메드,2014,-4952025000,(주)메타바이오메드,2014,25351126000,(주)메타바이오메드,2014,34128054000,(주)메타바이오메드,2014,81.63,(주)메타바이오메드,2014,12.42
1,(주)메타바이오메드,2015,805653000,(주)메타바이오메드,2015,28839931000,(주)메타바이오메드,2015,25987067000,(주)메타바이오메드,2015,54.33,(주)메타바이오메드,2015,9.39
2,(주)메타바이오메드,2016,638900000,(주)메타바이오메드,2016,36421419000,(주)메타바이오메드,2016,28554723000,(주)메타바이오메드,2016,63.82,(주)메타바이오메드,2016,-3.54
3,(주)메타바이오메드,2017,-3896803000,(주)메타바이오메드,2017,31720536000,(주)메타바이오메드,2017,28853979000,(주)메타바이오메드,2017,82.37,(주)메타바이오메드,2017,10.99
4,(주)메타바이오메드,2018,757691000,(주)메타바이오메드,2018,36181141000,(주)메타바이오메드,2018,36983102000,(주)메타바이오메드,2018,76.08,(주)메타바이오메드,2018,9.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193933,(주)우림공업사,2015,45854000,(주)우림공업사,2015,209070000,(주)우림공업사,2015,13443000,(주)우림공업사,2015,8.47,(주)우림공업사,2015,NaN
193934,(주)우림공업사,2016,65003000,(주)우림공업사,2016,81398000,(주)우림공업사,2016,17968000,(주)우림공업사,2016,20.63,(주)우림공업사,2016,NaN
193935,(주)우림공업사,2017,-143136000,(주)우림공업사,2017,58743000,(주)우림공업사,2017,2657430000,(주)우림공업사,2017,1643.49,(주)우림공업사,2017,NaN
193936,(주)우림공업사,2018,151416000,(주)우림공업사,2018,689570000,(주)우림공업사,2018,1407070000,(주)우림공업사,2018,1558.64,(주)우림공업사,2018,NaN
193937,(주)우림공업사,2019,-1123007000,(주)우림공업사,2019,444878000,(주)우림공업사,2019,7648134000,(주)우림공업사,2019,3163.6,(주)우림공업사,2019,NaN

In [75]:
all.drop(['level_1'], axis = 1, inplace = True)
all.drop(['Unnamed: 2'], axis = 1, inplace = True)
all

,기업명,년도,당기순이익,유동자산,유동부채,부채비율,종업원수증가율
0,(주)메타바이오메드,2014,-4952025000,25351126000,34128054000,81.63,12.42
1,(주)메타바이오메드,2015,805653000,28839931000,25987067000,54.33,9.39
2,(주)메타바이오메드,2016,638900000,36421419000,28554723000,63.82,-3.54
3,(주)메타바이오메드,2017,-3896803000,31720536000,28853979000,82.37,10.99
4,(주)메타바이오메드,2018,757691000,36181141000,36983102000,76.08,9.91
...,...,...,...,...,...,...,...
193933,(주)우림공업사,2015,45854000,209070000,13443000,8.47,NaN
193934,(주)우림공업사,2016,65003000,81398000,17968000,20.63,NaN
193935,(주)우림공업사,2017,-143136000,58743000,2657430000,1643.49,NaN
193936,(주)우림공업사,2018,151416000,689570000,1407070000,1558.64,NaN
193937,(주)우림공업사,2019,-1123007000,444878000,7648134000,3163.6,NaN