In [1]:
import pandas as pd

In [8]:
재고자산1 = pd.read_excel('./비금융계_재고자산.xls', skiprows=[0,1,2,3,4])

In [9]:
재고자산1['Unnamed: 2'].drop(0).values

array(['(주)메타바이오메드', '(주)코라', '(주)이건홀딩스', ..., '(주)에스엘씨', '농업회사법인한국양계(주)',
       '(주)우림공업사'], dtype=object)

In [10]:
재고자산1.set_index('Unnamed: 2', inplace=True)

In [11]:
재고자산1.head()

,Unnamed: 0,Unnamed: 1,2014/Annual,2015/Annual,2016/Annual,2017/Annual,2018/Annual,2019/Annual
Unnamed: 2,,,,,,,,
Name,KIS,Stock,재고자산(계)/111400,재고자산(계)/111400,재고자산(계)/111400,재고자산(계)/111400,재고자산(계)/111400,재고자산(계)/111400
(주)메타바이오메드,000292,059210,5335104000,9553544000,8363747000,7271977000,8060082000,9324707000
(주)코라,000366,NaN,108410000,174808000,116941000,114055000,82568000,81704000
(주)이건홀딩스,000442,039020,10365505000,9576133000,10978431000,NaN,NaN,NaN
동성인쇄(주),000469,NaN,1993422000,2701604000,3112618000,1786576000,2134645000,1134609000

In [12]:
재고자산1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32324 entries, Name to (주)우림공업사
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   32324 non-null  object
 1   Unnamed: 1   2601 non-null   object
 2   2014/Annual  18990 non-null  object
 3   2015/Annual  19983 non-null  object
 4   2016/Annual  21010 non-null  object
 5   2017/Annual  21951 non-null  object
 6   2018/Annual  22617 non-null  object
 7   2019/Annual  22424 non-null  object
dtypes: object(8)
memory usage: 2.2+ MB

In [13]:
재고자산1.columns

Index(['Unnamed: 0', 'Unnamed: 1', '2014/Annual', '2015/Annual', '2016/Annual',
       '2017/Annual', '2018/Annual', '2019/Annual'],
      dtype='object')

In [15]:
재고자산 = 재고자산1[['2014/Annual', '2015/Annual', '2016/Annual',
                      '2017/Annual', '2018/Annual', '2019/Annual']]
재고자산 = pd.DataFrame(재고자산.drop('Name').stack(dropna=False))
재고자산.columns=['재고자산']
재고자산.reset_index(inplace=True)
재고자산

        Unnamed: 2      level_1        재고자산
0       (주)메타바이오메드  2014/Annual  5335104000
1       (주)메타바이오메드  2015/Annual  9553544000
2       (주)메타바이오메드  2016/Annual  8363747000
3       (주)메타바이오메드  2017/Annual  7271977000
4       (주)메타바이오메드  2018/Annual  8060082000
...            ...          ...         ...
193933    (주)우림공업사  2015/Annual   138503000
193934    (주)우림공업사  2016/Annual    45698000
193935    (주)우림공업사  2017/Annual         NaN
193936    (주)우림공업사  2018/Annual   576528000
193937    (주)우림공업사  2019/Annual   272214000

[193938 rows x 3 columns]